* {
    font-family: Helvetica, Arial, sans-serif;
}

body {
    text-align: center;
}

hr {
    border: 1px solid #e7ab46;
}

header {
    color: #d54215;
}

.subheader {
    padding: 10px;
}

.subheader p {
    margin: 5px;
}

#tagline {
    font-weight: bold;
}

.recipe-list ul li {
    display: inline-block;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.recipe-container {
    margin: auto;
    background-color: white;
    border: 1px solid rgba(128, 128, 128, 0.582);
    text-align: left;
}

.recipe-container p {
    margin: 10px;
}

.course-type {
    color: grey;
    font-size: 12px;
}

.recipe-title {
    padding-bottom: 10px;
}

.recipe-header {
    display: flex;
}

#back {
    flex: 0;
    margin: auto;
    background-color: rgb(131, 131, 131);
    color: white;
    padding: 8px 5px;
    border-radius: 10%;
}

.recipe-header h1 {
    flex: 1;
}

.description, .ingredients, .steps {
    padding: 10px 20%;
    text-align: left;
}